.portfolio {
  text-align: center;
}

.portfolio h2 {
  font-size: 3rem;
  margin-top: 80px;
}

.portfolio h3 {
  font-size: 2rem;
  font-weight: 400;
}

.blog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
}
.blog h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
  /* additional */
  font-size: 1.5rem;
}
.blog p {
  color: #ccc;
  margin-top: 4px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
